*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}

hr {color:sienna;}
p {margin-left:20px;}
body{
	text-align:center;
}

#top_header{
	background:yellow;
	border: 1px solid Tahoma;
	padding: 20px;
}
